{# Comentário no template do Django #}
{# Verifica se a variável ultimas_questoes tem conteúdo #}
<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</head>
<body>
{% if ultimas_questoes %}
    <div class="container">
        <h1>Minhas questões</h1>
        <ul class="list-group">
            {# Faz um for sobre as questoes dentro da variável #}
            {% for questoes in ultimas_questoes %}
                <li class="list-group-item">
                    {# retorna o id da questao {{questoes.id}} #}
                    {# utiliza o name da url para pegar ela #}
                    <a href="{% url 'detalhe' questoes.id %}">{{ questoes.pergunta }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
    {# Se a variável ultimas_questoes for vazia... #}
{% else %}
    <p>Não há questões salvas</p>
{% endif %}
</body>
</html>