<html>
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
            crossorigin="anonymous"></script>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="mt-4 p-5 bg-primary text-white rounded">
                <h1>Pergunta do Dia</h1>
            </div>
            <p class="fs-3">{{ questao.pergunta }}</p>
            <p>Publicado em {{ questao.data }}</p>

            <ul>
                {% for respostas in questao.resposta_set.all %}
                    <li>{{ respostas.resposta }} - votos: {{ respostas.votos }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
</body>
</html>
